* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 15px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
}

.logo img {
    margin-right: 10px;
    height: 25px;
}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px 12px;
}

.nav-links li a img {
    height: 1.7rem;
}

.nav-links li a:hover {
    color: #007bff;
}

/* Mobile menu toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 5px;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.3s;
}

.cart-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #333;
    color: #fff;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

input[type="number"] {
    width: 60px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.edit-btn {
    background: #007bff;
    color: #fff;
}

.edit-btn:hover {
    background: #0056b3;
}

.delete-btn {
    background: #e25232;
    color: #fff;
}

.delete-btn:hover {
    background: #c74120;
}

.total-section {
    text-align: right;
    font-size: 1.2rem;
}